<div class="photo">
  <h2 class="main_title">Photo</h2>
  <div class="photo_format">
  <% client.user_timeline("HandballHosei", "count" => 200, :include_entities => true).each do |tweet| %>
    <% tweet.media.each do |media| %>
        <div class="photo_format_element">
          <%= image_tag(media.media_url, :class => "photo_format_element_img") %>
        </div>
    <% end %>
  <% end %>
  </div>
</div>





<!-- twitter -->
<% client.user_timeline("HandballHosei","count" => 200,:include_entities => true).each do |tweet| %>
	<% tweet.media.each do |media| %>
		<div><%= image_tag(media.media_url,:size => "128x128") %></div>
		<div><%=tweet.text.slice(0..tweet.text.length-24)%></div>
	<% end %>
<% end %>
