@import "_variables.scss";

@font-face {
  font-family: 'BOKOSUKA';
  src: font-url('bokosuka.otf') format("opentype");
}

@font-face {
  font-family: 'AndaleMono';
  src: font-url('AndaleMono.ttf') format("truetype");
}

@font-face {
  font-family: 'KozGoPr6N-Heavy';
  src: font-url('KozGoPr6N-Heavy.otf') format("opentype");
}

@font-face {
  font-family: 'KozGoPr6N-Regular';
  src: font-url('KozGoPr6N-Regular.otf') format("opentype");
}

// @font-face {
//   font-family: 'AndaleMono';
//   src: font-url('AndaleMono.ttf') format("truetype");
// }

// @font-face {
//   font-family: 'AndaleMono';
//   src: font-url('AndaleMono.ttf') format("truetype");
// }