@import "_variables.scss";

.footer_main {
  margin: 50px 0 30px;
  .footer_main_element {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid;
  }
}