<!DOCTYPE html>
<html>
<head>
  <title>Select</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="header_nav">
      <div class="header_btn">Top</div>
      <div class="header_btn">About</div>
      <div class="header_btn">Schedule</div>
      <div class="header_btn">Photo</div>
      <div class="header_btn">DM</div>
    </div>
  </header>

  <div class="top">
    <div class="top_schedule">
      <p class="top_schedule_date">Next Schedule ○○/○○ Friday</p>
      <p class="top_schedule_place">Plactice in ○○○○○</p>
    </div>
  </div>


  <div class="main">

    <nav class="main_nav">
      <div class="main_nav_menu">
        <div class="main_nav_menu_btn">Top</div>
        <div class="main_nav_menu_btn">About</div>
        <div class="main_nav_menu_btn">Schedule</div>
        <div class="main_nav_menu_btn">Photo</div>
        <div class="main_nav_menu_btn">DM</div>
      </div>
      <div class="main_nav_link">
        <div class="main_nav_link_btn">twitter link</div>
      </div>
    </nav>

    <div class="main_contents">

      <div class="about">
        <div class="about_format">
          <h1 class="mine_title about_format_name">SELECT</h1>
          <p class="about_main_introduction">説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお説明入れるよお</p>
        </div>
      </div>


      <div class="schedule">
        <h2 class="main_title">Schedule</h2>
        <div></div>
      </div>


      <div class="photo">
        <h2 class="main_title">Photo</h2>
        <div class="photo_format">

          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>

        </div>
      </div>


      <div class="dm">
        <h2 class="main_title">Direct Message</h2>
        <div class="dm_format">
          <form class="dm_format_form">
            <label class="dm_format_title">名前</label>
            <input type="text" name="name" class="dm_format_text">
            <label class="dm_format_title">メールアドレス or LINE ID</label>
            <input type="text" name="address" class="dm_format_text">
            <label class="dm_format_title">投稿内容</label>
            <textarea name="contents" class="dm_format_textarea"></textarea>
            <input type="submit" name="send" value="send" class="dm_format_btn">
          </form>
        </div>
      </div>

    </div>


  </div>


  <footer>
    <div class="footer_main">
      <p class="footer_main_element">copyright &copy; 最終更新日(2017.04.15) SELECT Handball intercallegiate</p>
    </div>
  </footer>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<%= yield %>






</body>
</html>
