<!DOCTYPE html>
<html>
<head>
  <title>Select</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
</header>

  <nav class="nav">
    <div class="nav_menu">menu</div>
    <div class="nav_main">
      <a href="#welcome">welcome</a>
      <a href="#photos">photos</a>
      <a href="#about-us">about us</a>
      <a href="#schedule">schedule</a>
      <a href="#contacts">contact</a>
    </div>
  </nav>

  <div class="top">
    <div class="top_catchcopy">
      <p>
        <span class="bokosuka">ハンド、しよう</span>
        <span class="no_bokosuka">！</span>
      </p>
    </div>
    <div class="top_name">
      <p class="top_name_circle">
        <img src="">
        SELECT
      </p>
      <p class="top_name_univ">Hosei Univ. Handball Circle</p>
    </div>
    <div class="top_schedule">
      <div class="top_schedule_inline">
        <p class="top_schedule_f-middle1">next schedule</p>
        <p class="top_schedule_f-heavy">12/18</p>
        <p class="top_schedule_f-middle2">17:30</p>
        <p class="top_schedule_f-middle3">富士見体育館</p>
      </div>
    </div>
    <div class="top_scroll">
      <p>scroll</p>
      <a href="#welcome"><img src="assets/down.png"></a>
    </div>
  </div>


  <div class="main">
    <div class="main_contents">

      <div id="welcome" class="welcome">
        <div class="about_format">
          <h1 class="mine_title about_format_name">
            <img src="">
            ようこそ、SELECTへ！
          </h1>
            <p class="about_main_introduction">
              セレクトは、法政大学を中心とした</br>
              ハンドボールのインカレサークルです。</br>
              高校までやっていて大学でも考えている経験者の方も！</br>
              やったことないけどちょっと興味がある方も！</br>
              とにかく楽しくスポーツがしたい女の子も！</br>
              もちろん他大学の方も！</br>
              とにかく誰でも大歓迎 ^^
            </p>
            <p><img src="">ジョイナス！！</p>
            <p>
              練習だけではなく、</br>
              他サークルや他大学との試合もあります。</br>
              ハンドボールの他にもお花見やBBQ、スノボ、合宿など</br>
              最高に楽しいイベントが盛りだくさん！</br>
              アットホームで楽しい仲間がいる SELECT にぜひ！</br>
            </p>
            <p><img src="">レッツ、エンジョイ！</p>
        </div>
      </div>

      <div id="photos" class="photo">
        <h2 class="main_title">Photo</h2>
        <div class="photo_format">

          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
        </div>
      </div>

      <p>
        最近のセレクトの活動雰囲気です。</br>
        ハンドは真面目に、イベントは楽しくワイワイ。</br>
        練習後の飲み会は最高ですよ！</br>
        twtterも見てね！</br>
      </p>

      <div id="about-us" class="about-us">
        <p>セレクト！</p>
        <h2>メインイベント</h2>
        <div>tableとかでやる</div>
        <p>どれも最高の思い出になるイベントだよ！</p>
        <h2>メンバー構成</h2>
        <p>
          現在一年生が15人、二年生が10人、</br>
          三年生が14人の合計39人で</br>
          活動しています。</br>
          男女比は1:1で、アットホームな</br>
          雰囲気で同期も先輩後輩も仲良く、</br>
          和気藹々としています ^^
        </p>
        <div>右にグラフ</div>
      </div>

      <div id="schedule" class="schedule">
        <h2 class="main_title">スケジュール</h2>
        <div></div>
      </div>

      <div id="contacts" class="contacts">
        <h2 class="main_title">コンタクト</h2>
        <p>ハンドボールサークル　SELECT代表　〇〇</p>
        <!-- hrefの中に "mailto:info@example.com?subject=問い合わせ&amp;body=ご記入ください" を入れる -->
        <p><a href="">メールアドレス</a></p>
        <div>twitter → 画像</div>
        <p>
          気軽に連絡してください ^^</br>
          ご覧になってくださりありがとうございました。
        </p>
      </div>

    </div>


  </div>


  <footer>
    <div class="footer_main">
      <p class="footer_main_element">copyright &copy; 最終更新日(2017.04.15) SELECT Handball intercallegiate</p>
    </div>
  </footer>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<%= yield %>

<footer>
</footer>
</body>
</html>
