<!DOCTYPE html>
<html>
<head>
  <title>Select</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
</header>

  <header>
    <div class="header_nav">
      <div class="header_btn">Top</div>
      <div class="header_btn">About</div>
      <div class="header_btn">Schedule</div>
      <div class="header_btn">Photo</div>
      <div class="header_btn">DM</div>
    </div>
  </header>

  <div class="top">
    <div class="top_schedule">
      <p class="top_schedule_date">Next Schedule ○○/○○ Friday</p>
      <p class="top_schedule_place">Plactice in ○○○○○</p>
    </div>
  </div>


  <div class="main">

    <nav class="main_nav">
      <div class="main_nav_menu">
        <div class="main_nav_menu_btn">Top</div>
        <div class="main_nav_menu_btn">About</div>
        <div class="main_nav_menu_btn">Schedule</div>
        <div class="main_nav_menu_btn">Photo</div>
        <div class="main_nav_menu_btn">DM</div>
      </div>
      <div class="main_nav_link">
        <div class="main_nav_link_btn">twitter link</div>
      </div>
    </nav>

    <div class="main_contents">

      <div class="welcom">
        <div class="about_format">
          <h1 class="mine_title about_format_name">ようこそ、SELECTへ！</h1>
            <p class="about_main_introduction">
              セレクトは、法政大学を中心とした</br>
              ハンドボールのインカレサークルです。</br>
              高校までやっていて大学でも考えている経験者の方も！</br>
              やったことないけどちょっと興味がある方も！</br>
              とにかく楽しくスポーツがしたい女の子も！</br>
              もちろん他大学の方も！</br>
              とにかく誰でも大歓迎 ^^
            </p>
            <p>ジョイナス！！</p>
            <p>
              練習だけではなく、</br>
              他サークルや他大学との試合もあります。</br>
              ハンドボールの他にもお花見やBBQ、スノボ、合宿など</br>
              最高に楽しいイベントが盛りだくさん！</br>
              アットホームで楽しい仲間がいる SELECT にぜひ！</br>
            </p>
            <p>レッツ、エンジョイ！</p>
        </div>
      </div>

      <div class="photo">
        <h2 class="main_title">Photo</h2>
        <div class="photo_format">

          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>
          <div class="photo_format_element">
            <img src="" class="photo_format_element_img">
          </div>

      <div class="about-us">
        <h2 class="main_title">about-us</h2>
        <div></div>
      </div>

      <div class="schedule">
        <h2 class="main_title">Schedule</h2>
        <div></div>
      </div>

      <div class="contacts">
        <h2 class="main_title">コンタクト</h2>
        <div></div>
      </div>

        </div>
      </div>

    </div>


  </div>


  <footer>
    <div class="footer_main">
      <p class="footer_main_element">copyright &copy; 最終更新日(2017.04.15) SELECT Handball intercallegiate</p>
    </div>
  </footer>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<%= yield %>

<footer>
</footer>
</body>
</html>
